!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "#{data['description']['default']}", :name => "description"}/
    %meta{:content => "#{data['author']['name'] }", :name => "author"}/
    %title
      =data['title']
    -for stylesheet in data['stylesheets']
      <link rel="stylesheet" href="/assets/stylesheets/#{stylesheet['name']}">
  %body
    %p
      © 2015
      %a{:href => "mailto:#{data['author']['email']}"}
        =data['author']['name']
      -for link in data['footer_links']
        =link['pretext']
        %a{:href => link['url'], :target => "_blank", :title => link['title']}
          = link['text']
    =yield
